@import 'tailwindcss';

:root {
  /* Variables */
  --primary: #d3e97a;
  --primary-dark: #0a0a0a;
  --secondary-dark: #1a1a1a;
  --primary-light: #ffffff;
  --secondary-light: #c7c7c7;
}

@theme inline {
  /* Variables */
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary-dark: var(--secondary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary-light: var(--secondary-light);

  /* Customizations */
  --color-background: var(--primary-dark);
  --color-foreground: var(--secondary-light);
  --font-heading: var(--font-bebas);
  --font-paragraph: var(--font-manrope);
}

* {
  scroll-behavior: smooth;
  scroll-margin-block: 10rem;

  &::selection {
    background-color: #d3e97aba; /* App's Primary color with less opacity */
    color: var(--primary-light);
  }
}

body {
  background: var(--primary-dark);
  color: var(--secondary-light);
  font-family: var(--font-manrope);
}
